 .hover-transition-width {
     transition: width 0.3s, margin-right 0.3s, margin-bottom 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-height {
     transition: height 0.3s, margin-right 0.3s, margin-bottom 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-size {
     transition: width 0.3s, height 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-link {
     transition: font-weight 0.3s, text-decoration 0.3s;
     transition-timing-function: ease-out;
 }