 .hover-transition-width {
     transition: width 0.3s, margin-right 0.3s, margin-bottom 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-height {
     transition: height 0.3s, margin-right 0.3s, margin-bottom 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-size {
     transition: width 0.3s, height 0.3s;
     transition-timing-function: ease-out;
 }
 
 .hover-transition-link {
     transition: font-weight 0.3s, text-decoration 0.3s;
     transition-timing-function: ease-out;
 }
 
 @keyframes move {
     from {
         left: 0;
     }
     to {
         left: 1450px;
     }
 }
 
 @keyframes move-backfill {
     from {
         left: -1450px;
     }
     to {
         left: 0;
     }
 }
 
 .animate-artist-collection {
     position: absolute;
     animation: move 18s linear 0s infinite;
 }
 
 .animate-artist-collection-backfill {
     position: absolute;
     left: -1450px;
     animation: move-backfill 18s linear 0s infinite;
 }
 
 .bmg-artists:hover .animate-artist-collection,
 .bmg-artists:hover .animate-artist-collection-backfill {
     animation-play-state: paused;
 }