.btn-primary-lg {
    width: 140%;
    padding: 5px;
    font-family: var(--font-text), serif;
    font-size: var(--text-lg);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-bg);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-secondary-lg {
    width: 140%;
    padding: 5px;
    font-family: var(--font-text);
    font-size: var(--text-lg);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-dark);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-primary {
    width: 120%;
    padding: 5px;
    font-family: var(--font-text), serif;
    font-size: var(--text-md);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-bg);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-secondary {
    width: 120%;
    padding: 5px;
    font-family: var(--font-text);
    font-size: var(--text-md);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-dark);
    text-transform: uppercase;
    border: 0 solid black;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-remove,
.btn-add {
    width: 20px;
    height: 20px;
    font-family: var(--font-text);
    background-color: transparent;
    color: var(--color-primary-dark);
    border: none;
    font-weight: 500;
}

.logo {
    width: 132.6px;
}

.logo:hover {
    width: 142.6px;
    margin-right: -10px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    height: max-content;
    margin-top: var(--space-md);
}

.nav li {
    display: inline-block;
    font-size: var(--text-lg);
    font-family: var(--font-display), sans-serif;
}

.nav li:not(:first-child) {
    margin-left: var(--space-md);
}

.nav li a {
    font-size: calc(0.85*var(--text-md));
    color: var(--color-link);
    text-decoration: none;
}

.nav li a:hover {
    font-weight: 500;
    text-decoration: underline;
}

.icon-group .icon:not(:first-child) {
    margin-left: var(--space-sm);
}

.icon {
    width: 20px;
}

.product-image {
    transform: rotate(-83.25deg);
}

.product-info-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.product-name {
    font-family: var(--font-display), sans-serif;
    font-size: var(--text-xxxl);
    letter-spacing: var(--space-xxs);
    color: var(--color-primary-dark);
}

.product-name:hover {
    text-decoration: underline;
}

.product-cost {
    font-family: var(--font-text), sans-serif;
    font-size: var(--text-xl);
    letter-spacing: var(--space-xxs);
    color: var(--color-primary-dark);
    margin-bottom: var(--space-sm);
}

.product-ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.product-stars {
    transform: scale(25%);
    margin: calc(-1*var(--space-md));
}

.product-description {
    font-family: var(--font-text), serif;
    font-size: var(--text-lg);
    line-height: var(--space-md);
    color: var(--color-primary-dark);
    font-weight: 400;
}

.arrow {
    width: 20px;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-bottom {
    transform: rotate(90deg);
}

.arrow-top {
    transform: rotate(270deg);
}

.artist-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1450px;
    height: 109.2px;
}

.artist-collection li:not(:first-child) {
    margin-left: var(--space-md);
}

.artist-collection li {
    font-size: var(--text-lg);
    color: var(--color-primary-dark);
    font-weight: 500;
}

.artist-collection li a {
    padding-left: var(--space-sm);
    color: var(--color-primary-dark);
    font-weight: 500;
}

.artist-collection li a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.footer-sponsors>* {
    width: 35px;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.footer>p {
    font-size: 0.5rem;
    line-height: var(--space-lg);
    color: var(--white);
}

.footer-sponsors>*:not(:first-child) {
    margin-left: var(--space-md);
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.footer-links a {
    padding-top: var(--space-md);
    color: var(--white);
}

.footer-links a:not(:first-child) {
    padding-left: var(--space-md);
}

.footer-links a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .footer-links {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 200px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footer-links a {
        padding-top: var(--space-lg);
    }
    .footer-links a:not(:first-child) {
        padding-left: 0;
    }
    .logo {
        width: 102.6px;
    }
    .logo:hover {
        width: 112.6px;
        margin-right: -10px;
    }
}

#csm-curve {
    width: 112%;
    height: 100%;
    border-color: black red blue green;
    border-bottom: 2px solid var(--color-primary-bg);
    border-radius: 0 0 50% 50%;
    margin-left: -6%;
}

#csm-step-prev,
#csm-step-next {
    width: 17px;
    height: 17px;
    background-color: var(--color-primary-bg);
    border-radius: 16px;
}

#csm-step-current {
    width: 22px;
    height: 22px;
    background-color: var(--color-primary-dark);
    border-radius: 22px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.form-group-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.form-group fieldset>*:not(:last-child) {
    margin-bottom: var(--space-md);
}

.form-group fieldset h1 {
    font-family: var(--font-text);
    font-size: var(--text-lg);
    font-weight: 400;
    width: 320px;
    text-align: center;
}

.form-group label {
    font-family: var(--font-text);
    font-size: var(--text-md);
    text-transform: uppercase;
    color: var(--color-primary-dark);
}

.form-item input,
.form-item-horizontal input,
.form-item-checkbox input {
    border-radius: 10px;
    border: 0.8px solid var(--black);
    color: var(--color-primary-bg);
    font-size: var(--text-md);
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}

.form-item input {
    width: 320px;
    margin-top: 10px;
}

.form-item-horizontal input {
    width: 150px;
    margin-top: 10px;
}

.form-item-checkbox input {
    width: 20px;
    height: auto;
}

.form-item-checkbox label {
    font-size: calc(0.9*var(--text-md));
}

.form-item-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.form-item-horizontal>*:first-child {
    margin-right: 20px;
}