.btn-primary-lg {
    width: 180px;
    padding: 5px;
    font-family: var(--font-text), serif;
    font-size: var(--text-lg);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-bg);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-secondary-lg {
    width: 180px;
    padding: 5px;
    font-family: var(--font-text);
    font-size: var(--text-lg);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-dark);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-primary {
    width: 120%;
    padding: 5px;
    font-family: var(--font-text), serif;
    font-size: var(--text-md);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-bg);
    text-transform: uppercase;
    border: 0 solid black;
}

.btn-secondary {
    width: 180px;
    padding: 5px;
    font-family: var(--font-text);
    font-size: var(--text-md);
    background-color: var(--color-primary-dark);
    color: var(--color-primary-bg);
    border-radius: 40px;
    box-shadow: 1px 1px 6px var(--color-primary-dark);
    text-transform: uppercase;
    border: 0 solid black;
}

.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-remove,
.btn-add {
    width: 20px;
    height: 20px;
    font-family: var(--font-text);
    background-color: transparent;
    color: var(--color-primary-dark);
    border: none;
    font-weight: 500;
}

.logo {
    width: 132.6px;
}

.logo:hover {
    width: 142.6px;
    margin-right: -10px;
}

.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: top;
    height: max-content;
    margin-top: var(--space-md);
}

.nav li {
    display: inline-block;
    font-size: var(--text-lg);
    font-family: var(--font-display), sans-serif;
}

.nav li:not(:first-child) {
    margin-left: var(--space-md);
}

.nav li a {
    font-size: calc(0.85*var(--text-md));
    color: var(--color-link);
    text-decoration: none;
}

.nav li a:hover {
    font-weight: 500;
    text-decoration: underline;
}

.nav-vertical li {
    font-size: var(--text-lg);
    font-family: var(--font-display), sans-serif;
}

.nav-vertical li a {
    font-size: calc(0.85*var(--text-md));
    color: var(--color-link);
    text-decoration: none;
}

.nav-vertical li a:hover {
    font-weight: 500;
    text-decoration: underline;
}

.icon-group .icon:not(:first-child) {
    margin-left: var(--space-sm);
}

.icon {
    width: 20px;
}

.icon:hover {
    stroke-width: 1.1px;
}

.product-image {
    transform: rotate(-83.25deg);
}

.product-info-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.product-name {
    font-family: var(--font-display), sans-serif;
    font-size: var(--text-xxxl);
    letter-spacing: var(--space-xxs);
    color: var(--color-primary-dark);
}

.product-name:hover {
    text-decoration: underline;
}

.product-cost {
    font-family: var(--font-text), sans-serif;
    font-size: var(--text-xl);
    letter-spacing: var(--space-xxs);
    color: var(--color-primary-dark);
    margin-bottom: var(--space-sm);
}

.product-ratings {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.product-stars {
    transform: scale(25%);
    margin: calc(-1*var(--space-md));
}

.product-description {
    font-family: var(--font-text), serif;
    font-size: var(--text-lg);
    line-height: var(--space-md);
    color: var(--color-primary-dark);
    font-weight: 400;
}

.arrow {
    width: 20px;
}

.arrow-left {
    transform: rotate(180deg);
}

.arrow-bottom {
    transform: rotate(90deg);
}

.arrow-top {
    transform: rotate(270deg);
}

.artist-collection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1450px;
    height: 109.2px;
}

.artist-collection li:not(:first-child) {
    margin-left: var(--space-md);
}

.artist-collection li {
    font-size: var(--text-lg);
    color: var(--color-primary-dark);
    font-weight: 500;
}

.artist-collection li a {
    padding-left: var(--space-sm);
    color: var(--color-primary-dark);
    font-weight: 500;
}

.artist-collection li a:hover {
    text-decoration: underline;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.footer-sponsors>* {
    width: 35px;
    margin-top: var(--space-xs);
    margin-bottom: var(--space-xs);
}

.footer>p {
    font-size: 0.5rem;
    line-height: var(--space-lg);
    color: var(--white);
}

.footer-sponsors>*:not(:first-child) {
    margin-left: var(--space-md);
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.footer-links a {
    padding-top: var(--space-md);
    color: var(--white);
}

.footer-links a:not(:first-child) {
    padding-left: var(--space-md);
}

.footer-links a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
    .footer-links {
        flex-direction: column;
        flex-wrap: nowrap;
        width: 200px;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .footer-links a {
        padding-top: var(--space-lg);
    }
    .footer-links a:not(:first-child) {
        padding-left: 0;
    }
    .logo {
        width: 102.6px;
    }
    .logo:hover {
        width: 112.6px;
        margin-right: -10px;
    }
}

#csm-curve {
    width: 112%;
    height: 100%;
    border-color: black red blue green;
    border-bottom: 2px solid var(--color-primary-bg);
    border-radius: 0 0 50% 50%;
    margin-left: -6%;
}

#csm-step-prev,
#csm-step-next {
    width: 17px;
    height: 17px;
    background-color: var(--color-primary-bg);
    border-radius: 16px;
}

#csm-step-current {
    width: 22px;
    height: 22px;
    background-color: var(--color-primary-dark);
    border-radius: 22px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.form-group-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.form-group fieldset>*:not(:last-child) {
    margin-bottom: var(--space-md);
}

.form-group fieldset h1 {
    font-family: var(--font-text);
    font-size: var(--text-lg);
    font-weight: 400;
    width: 320px;
    text-align: center;
}

.form-group label {
    font-family: var(--font-text);
    font-size: var(--text-md);
    text-transform: uppercase;
    color: var(--color-primary-dark);
}

.form-item input,
.form-item-horizontal input,
.form-item-checkbox input {
    border-radius: 10px;
    border: 0.8px solid var(--black);
    color: var(--color-primary-bg);
    font-size: var(--text-md);
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}

.form-item input {
    width: 320px;
    margin-top: 10px;
}

.form-item-horizontal input {
    width: 150px;
    margin-top: 10px;
}

.form-item-checkbox input {
    width: 20px;
    height: auto;
}

.form-item-checkbox label {
    font-size: calc(0.9*var(--text-md));
}

.form-item-horizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.form-item-horizontal>*:first-child {
    margin-right: 20px;
}

.nav-overlay {
    opacity: 0.9;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    display: none;
    grid-template-rows: 25% auto;
    grid-template-columns: repeat(12, 1fr);
}

.nav-overlay .icon-close {
    grid-row: 1;
    grid-column: 1/4;
    margin: 20px;
}

.nav-overlay .icon-search {
    grid-row: 1;
    grid-column: 11;
    margin: 20px;
    justify-self: flex-end;
    margin-right: 0px;
}

.nav-overlay .icon-basket {
    grid-row: 1;
    grid-column: 12;
    margin: 20px;
}

.nav-vertical {
    grid-row: 2;
    grid-column: 7/13;
    justify-self: flex-end;
    margin-right: 20px;
    margin-top: 10px;
}

.nav-vertical li {
    font-size: var(--text-lg);
    font-family: var(--font-display), sans-serif;
    text-align: right;
}

.nav-vertical li:not(:last-child) {
    margin-bottom: var(--space-sm);
}

.nav-vertical li a {
    font-size: calc(0.85*var(--text-md));
    color: var(--color-link);
    text-decoration: none;
}

.nav-vertical li a:hover {
    font-weight: 500;
    text-decoration: underline;
}

.text-overlay,
.image-overlay {
    opacity: 1;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    display: none;
}

.text-overlay {
    grid-template-rows: 5% auto;
    grid-template-columns: repeat(12, 1fr);
}

.image-overlay {
    grid-template-rows: 5% 95%;
    grid-template-columns: repeat(12, 1fr);
}

.text-overlay .icon-close,
.image-overlay .icon-close {
    grid-row: 1;
    grid-column: 1/4;
    margin: 20px;
}

.text-overlay p {
    grid-row: 2;
    grid-column: 1/13;
    margin: 20px;
    padding: 10px;
    overflow-y: auto;
    font-size: var(--text-lg);
    line-height: var(--space-md);
}

.image-overlay img:last-of-type {
    grid-row: 2;
    grid-column: 1/13;
    margin: 20px;
    align-self: center;
    justify-self: center;
    object-fit: contain;
    width: 100%;
    height: 95%;
}

.cart-overlay {
    opacity: 0.95;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    display: none;
    grid-template-rows: 5% auto 15%;
    grid-template-columns: repeat(12, 1fr);
}

.cart-overlay .icon-close {
    grid-row: 1;
    grid-column: 1/4;
    margin: 20px;
}

.cart-overlay .bmg-checkout-cart-summary a {
    font-size: var(--text-sm);
    color: var(--color-danger);
    margin-top: var(--space-sm);
    /*Centering Adjustment */
    margin-right: 10px
}

.cart-overlay .bmg-checkout-cart-summary h1 {
    font-family: var(--font-text);
    font-size: calc(1.05*var(--text-xl));
    letter-spacing: calc(0.85*var(--space-xxs));
    font-weight: 400;
    padding-top: 15px;
}

.cart-overlay .bmg-checkout-cart-summary {
    grid-row: 3;
    grid-column: 1 / 13;
    align-self: flex-end;
    justify-self: flex-end;
    margin: 20px;
    padding-right: 20px;
}

.cart-overlay .bmg-checkout-cart-summary button {
    z-index: 6;
    margin-top: 5%;
}

.cart-overlay .bmg-checkout-cart-summary-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}

.cart-overlay .bmg-cart-item {
    grid-row: 2;
    grid-column: 1 / 13;
    margin: 20px;
    margin-top: 40px;
    overflow-y: auto;
}

.cart-overlay .bmg-cart-item-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-;
}

.cart-overlay .bmg-cart-item-flex li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: calc(1.5*var(--space-xl));
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 10px;
}

.cart-overlay .product-image {
    width: 210px;
    margin: calc(-1*var(--space-lg));
    margin-left: 10px;
    margin-right: 20px;
}

.cart-overlay .bmg-cart-item-content {
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-right: 20px;
}

.cart-overlay .bmg-cart-item-content>*:not(:last-child) {
    margin-bottom: var(--space-sm);
}

.cart-overlay .bmg-cart-item-mr-flex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    flex-wrap: nowrap;
}

.cart-overlay .bmg-cart-item-mr-flex>*:not(:last-child) {
    margin-bottom: var(--space-sm);
}

.cart-overlay .bmg-cart-item-quantity {
    z-index: 6;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 105px;
}

.cart-overlay .bmg-cart-item-quantity>*:not(:last-child) {
    margin-right: var(--space-sm);
}

.cart-overlay .btn-add,
.cart-overlay .btn-rmeove {
    z-index: 6;
}

.cart-overlay .bmg-cart-item-pricing {
    display: grid;
    grid-template-rows: 15px 15px;
    grid-template-columns: 80px 80px;
    gap: var(--space-sm);
    align-self: center;
    justify-self: center;
}

.cart-overlay .bmg-cart-item-pricing-price-header {
    grid-row: 1;
    grid-column: 1;
    align-self: flex-start;
    justify-self: flex-start;
}

.cart-overlay .bmg-cart-item-pricing-subtotal-header {
    grid-row: 2;
    grid-column: 1;
    align-self: flex-start;
    justify-self: flex-start;
}

.cart-overlay .bmg-cart-item-pricing-price {
    grid-row: 1;
    grid-column: 2;
    align-self: flex-start;
    justify-self: flex-end;
}

.cart-overlay .bmg-cart-item-pricing-subtotal {
    grid-row: 2;
    grid-column: 2;
    align-self: flex-start;
    justify-self: flex-end;
}

.cart-overlay .bmg-product-limited-stock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 20px;
}

.cart-overlay .bmg-product-limited-stock {
    margin-top: 12px;
}

.bmg-product-limited-stock p {
    margin-left: var(--space-xs);
    font-size: var(--text-sm);
    text-transform: uppercase;
    font-weight: 300;
    color: var(--color-danger);
}

.cart-overlay .bmg-cart-item-amount {
    border: 1px solid var(--gray-5);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 6px;
}

.cart-overlay .bmg-cart-item-pricing h2,
.cart-overlay .bmg-cart-item-pricing h1 {
    font-family: var(--font-text);
    font-size: var(--text-md);
}

.cart-overlay .bmg-cart-item-pricing h2 {
    font-weight: 300;
}

.cart-overlay .bmg-cart-item-pricing h1 {
    font-weight: 500;
    letter-spacing: calc(0.85*var(--space-xxs));
}

.cart-overlay .bmg-cart-item-content>h1 {
    font-size: var(--text-xl);
}

.cart-overlay .bmg-cart-item-content>h1:hover {
    text-decoration: underline;
}

.bmg-cart-item-quantity>p {
    color: var(--color-primary-dark);
    font-weight: 300;
}

.search-overlay {
    opacity: 1;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 25%;
    background-color: var(--color-primary-bg);
    cursor: pointer;
    display: none;
    grid-template-rows: 5% auto;
    grid-template-columns: repeat(12, 1fr);
}

.search-overlay .icon-close {
    grid-row: 1;
    grid-column: 1/4;
    margin: 20px;
}

.search-overlay .icon-close {
    grid-row: 1;
    grid-column: 1/4;
    margin: 20px;
}

.search-overlay .form-group {
    grid-row: 2;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-overlay .form-group .form-item input {
    background-color: transparent;
    height: 35px;
    border-radius: 20px;
    color: var(--color-primary-dark);
    margin-right: -30px;
}

.search-overlay .form-group .form-item input::placeholder {
    text-align: center;
    color: var(--black);
    font-family: var(--font-text);
    font-size: var(--text-md);
}

.search-overlay .icon-search {
    padding-top: 10px;
    z-index: 7;
}

@media only screen and (min-width:1024px) {
    .nav-overlay {
        display: none;
    }
    .cart-overlay,
    .search-overlay {
        width: 400px;
        left: calc(50% - 190px);
        right: calc(50% - 190px);
        background-color: var(--color-primary-bg);
    }
}