* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 76.8px 76.8px 76.8px 38.4px calc(499.2px - 4*var(--space-md)) auto;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-md);
}

.logo {
    margin-left: var(--space-md);
    margin-top: var(--space-md);
    grid-row: 1;
    grid-column: 1/ 3;
}

.nav {
    margin-top: var(--space-md);
    grid-row: 1;
    grid-column: 1 / 13;
    justify-self: center;
}

.icon-group {
    margin-top: var(--space-md);
    margin-right: var(--space-md);
    grid-row: 1;
    grid-column: 12;
    justify-self: right;
}

.bmg-header {
    grid-row: 2;
    grid-column: 1 / 13;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    /*Centetring adjustment*/
    margin-left: 18px;
}

.checkout-step-monitor-curve {
    grid-row: 1/4;
    grid-column: 4/10;
    width: 640px;
    overflow: hidden;
    justify-self: center;
}

.checkout-step-monitor-steps {
    grid-row: 3;
    grid-column: 3/11;
    width: 640px;
    align-self: flex-start;
    justify-self: center;
}

.checkout-step-monitor-steps-nc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 640px;
    margin-bottom: 49px;
}

.checkout-step-monitor-steps-c {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.checkout-step-monitor-header {
    grid-row: 4;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
}

.bmg-payment {
    grid-row: 5;
    grid-column: 1/7;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
}

.bmg-payment p {
    margin-bottom: var(--space-md);
    text-align: center;
}

.bmg-payment-cards {
    margin-bottom: var(--space-xl);
    align-self: center;
}

.bmg-payment-cards img {
    width: auto;
    height: 25px;
}

.bmg-payment-cards img:not(:last-child) {
    margin-right: 10px;
}

.form-group fieldset {
    margin-bottom: var(--space-lg);
}

.bmg-order-summary {
    grid-row: 5;
    grid-column: 7/13;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 350px;
    margin-top: var(--space-xl);
    margin-bottom: var(--space-xl);
    height: 350px;
    /*Scrolling Adjustment*/
}

.bmg-order-summary>*:not(:last-child) {
    margin-bottom: var(--space-md);
}

.bmg-order-summary-lineitems {
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-y: scroll;
    padding-right: 25px;
}

.bmg-order-summary-lineitems>* {
    margin-bottom: var(--space-md);
}

.bmg-order-summary-lineitems li {
    justify-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.bmg-order-summary-grandtotal {
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    padding-right: 15px;
}

.footer {
    grid-row: 6;
    grid-column: 1/3;
    align-self: flex-end;
    justify-self: flex-start;
    margin-left: var(--space-md);
    margin-bottom: var(--space-lg);
}

.footer-links {
    grid-row: 6;
    grid-column: 4/10;
    margin-bottom: var(--space-xl);
    justify-self: center;
    align-self: flex-end;
}

.bg-quad-1 {
    grid-row: 1/3;
    grid-column: 1/3;
    width: 200px;
    height: 100px;
    border-top: 100px solid var(--color-primary-bg);
    border-right: 33px solid transparent;
}

.bg-quad-2 {
    grid-row: 1/3;
    grid-column: 1 / 13;
    width: 600px;
    height: 185px;
    border-bottom: 185px solid var(--color-primary-bg);
    border-right: 58px solid transparent;
    border-left: 58px solid transparent;
    justify-self: center;
}

.bg-quad-3 {
    grid-row: 1/5;
    grid-column: 11 / 13;
    width: 200px;
    height: 100px;
    border-top: 100px solid var(--color-primary-bg);
    border-left: 33px solid transparent;
    justify-self: flex-end;
}

.bg-quad-4 {
    grid-row: 6;
    grid-column: 1/3;
    width: 240px;
    height: 132px;
    border-top: 132px solid var(--color-primary-bg);
    border-right: 43.7px solid transparent;
    align-self: flex-end;
}

.bg-quad-5 {
    grid-row: 6;
    grid-column: 4/10;
    width: 600px;
    height: 132px;
    border-bottom: 132px solid var(--color-primary-bg);
    border-right: 43.7px solid transparent;
    border-left: 43.7px solid transparent;
    align-self: flex-end;
    justify-self: center;
}

.bg-quad-1-responsive,
.bg-quad-2-responsive,
.bg-quad-3-responsive,
.bg-quad-4-responsive,
.bg-quad-5-responsive,
.bg-quad-6-responsive,
.bg-blanket {
    display: none;
}

.content-responsive {
    display: none;
}

.position-sticky {
    position: sticky;
    top: var(--space-md);
}

.position-sticky-lg {
    position: sticky;
    top: var(--space-lg);
}

.position-sticky-bg {
    position: sticky;
    top: 0;
}

.position-sticky-bottom {
    position: sticky;
    top: calc(100% - (768px - 562px));
}

.position-sticky-bg-bottom {
    position: sticky;
    top: calc(100% - (768px - 473px))
}

@media only screen and (max-width: 1024px) {
    .content-responsive {
        display: revert;
    }
    .bg-quad-1,
    .bg-quad-2,
    .bg-quad-3,
    .bg-quad-4,
    .bg-quad-5,
    .bg-quad-6 {
        display: none;
    }
    .bg-quad-1-responsive,
    .bg-quad-2-responsive,
    .bg-quad-3-responsive,
    .bg-quad-4-responsive,
    .bg-quad-5-responsive,
    .bg-quad-6-responsive,
    .bg-blanket {
        display: revert;
    }
    body {
        display: grid;
        grid-template-rows: 76.8px 76.8px 76.8px 38.4px calc(499.2px - 4*var(--space-md)) auto;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--space-sm);
    }
    .logo {
        margin-left: var(--space-md);
        margin-top: var(--space-md);
        grid-row: 1;
        grid-column: 1/ 6;
    }
    .icon-burger {
        display: revert;
        margin-right: var(--space-lg);
        margin-top: var(--space-lg);
        grid-row: 1;
        grid-column: 12;
    }
    /*Alter After Overlay*/
    .nav {
        display: none;
        margin-top: var(--space-md);
        grid-row: 1;
        grid-column: 1 / 13;
        justify-self: center;
    }
    /*Alter After Overlay*/
    .icon-group {
        display: none;
        margin-top: var(--space-md);
        margin-right: var(--space-md);
        grid-row: 1;
        grid-column: 12;
        justify-self: right;
    }
    .bmg-payment {
        grid-row: 5;
        grid-column: 1/13;
        align-self: center;
        justify-self: center;
    }
    .bmg-order-summary {
        grid-row: 6;
        grid-column: 1/13;
    }
    .footer,
    .footer-links {
        display: none;
    }
    .bmg-header,
    .checkout-step-monitor-curve,
    .checkout-step-monitor-steps,
    .checkout-step-monitor-header,
    .bmg-payment,
    .bmg-order-summary {
        z-index: -2;
    }
    .bg-blanket {
        z-index: -1;
        grid-row: 1/3;
        grid-column: 1/13;
        width: 100vw;
        height: 71px;
        border-top: 71px solid white;
    }
    .bg-quad-1-responsive {
        grid-row: 1/2;
        grid-column: 1/7;
        width: 255px;
        height: 70px;
        border-top: 70px solid var(--color-primary-bg);
        border-right: 140px solid transparent;
        align-self: flex-start;
        justify-self: flex-start;
    }
    .bg-quad-2-responsive {
        grid-row: 1/2;
        grid-column: 7/13;
        width: 255px;
        height: 71px;
        border-bottom: 71px solid var(--color-primary-bg);
        border-left: 140px solid transparent;
        align-self: flex-start;
        justify-self: flex-end;
    }
    .bg-quad-3-responsive {
        grid-row: 5;
        grid-column: 9 / 13;
        width: 330px;
        height: 295px;
        border-bottom: 155px solid var(--color-primary-bg);
        border-left: 105px solid transparent;
        align-self: flex-end;
        justify-self: flex-end;
    }
    .position-sticky-bottom {
        position: sticky;
        top: calc(100% - (768px - 662px));
    }
}

@media only screen and (max-width: 678px) and (min-width: 428px) {
    body {
        display: grid;
        grid-template-rows: 76.8px 76.8px 76.8px 38.4px calc(499.2px - 4*var(--space-md)) auto;
        grid-template-columns: repeat(12, calc(678px/12));
        gap: var(--space-sm);
    }
}

@media only screen and (max-width: 428px) {
    body {
        display: grid;
        grid-template-rows: 76.8px 76.8px 76.8px 38.4px calc(499.2px - 4*var(--space-md)) auto;
        grid-template-columns: repeat(12, calc(428px/12));
        gap: var(--space-sm);
    }
    .checkout-step-monitor-curve {
        width: 510px;
    }
    .checkout-step-monitor-steps {
        width: 510px;
    }
    .checkout-step-monitor-steps-nc {
        width: 510px;
        margin-bottom: 49px;
    }
}