* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 76.8px 576px calc(115.2px - 2* var(--space-md)) auto;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--space-md);
}

.logo {
    margin-left: var(--space-md);
    margin-top: var(--space-md);
    grid-row: 1;
    grid-column: 1/ 3;
}

.nav {
    margin-top: var(--space-md);
    grid-row: 1;
    grid-column: 1 / 13;
    justify-self: center;
}

.icon-group {
    margin-top: var(--space-md);
    margin-right: var(--space-md);
    grid-row: 1;
    grid-column: 12;
    justify-self: right;
}

.bmg-hero {
    grid-row: 2;
    grid-column: 1/7;
    justify-self: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 680px;
    margin-top: 40px;
}

.bmg-hero img {
    width: 370px;
    margin-top: var(--space-xl);
}

.bmg-feature {
    grid-row: 2;
    grid-column: 8/13;
    justify-self: center;
}

.bmg-faeture-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.bmg-faeture-flex li {
    display: grid;
    width: 540px;
    height: 700px;
    grid-template-rows: 40px 15px 20px calc(680px/2 - 100px) 25px calc(680px/2 - 100px);
    grid-template-columns: repeat(12, 1fr);
}

.product-name {
    grid-row: 1;
    grid-column: 2/13;
    align-self: center;
    justify-self: center;
}

.product-ratings {
    grid-row: 2;
    grid-column: 2/13;
    align-self: center;
    justify-self: center;
}

.bmg-add-to-basket {
    grid-row: 4;
    grid-column: 1/6;
    align-self: center;
    justify-self: center;
}

.arrow-left {
    grid-row: 5;
    grid-column: 1/4;
    align-self: center;
    justify-self: flex-end;
}

.arrow-right {
    grid-row: 5;
    grid-column: 11/13;
    align-self: center;
}

.product-description {
    grid-row: 6;
    grid-column: 1/6;
    align-self: center;
    justify-self: center;
    width: 180px;
}

.product-image {
    grid-row: 4/7;
    grid-column: 3/13;
    align-self: center;
    justify-self: center;
    width: 480px;
}

.product-image:hover {
    width: 500px;
}

.bmg-artists {
    grid-row: 3;
    grid-column: 1/13;
    align-self: center;
    justify-self: center;
    width: 100vw;
    position: relative;
}

.artist-collection {}

.bmg-footer {
    grid-area: "footer";
    grid-row: 4;
    grid-column: 1/3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 75vw;
    justify-content: space-between;
}

.bmg-footer .footer-links {
    align-items: center;
    justify-content: space-evenly;
    width: 32vw;
    margin-right: var(--space-xxxl);
}

.bg-quad-1,
.bg-quad-2,
.bg-quad-3,
.bg-quad-4,
.bg-quad-5,
.bg-quad-6 {
    display: revert;
}

.bg-quad-1 {
    border-bottom: 100vh solid var(--color-primary-bg);
    border-right: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 100vh;
    width: 25.2vw;
    transform: rotateX(180deg);
}

.bg-quad-2 {
    border-bottom: 100vh solid var(--color-primary-bg);
    border-right: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    border-left: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 100vh;
    width: 50.4vw;
}

.bg-quad-3 {
    margin-left: calc(2*var(--space-xxxl));
    border-bottom: 100vh solid var(--color-primary-bg);
    border-left: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 100vh;
    width: calc(100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)));
    transform: rotateX(180deg);
}

.bg-quad-4 {
    border-bottom: 22vh solid var(--color-primary-bg);
    border-right: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 22vh;
    width: 25.2vw;
}

.bg-quad-5 {
    border-bottom: 22vh solid var(--color-primary-bg);
    border-right: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    border-left: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 22vh;
    width: 50.4vw;
    transform: rotateX(180deg);
}

.bg-quad-6 {
    margin-left: calc(2*var(--space-xxxl));
    border-bottom: 22vh solid var(--color-primary-bg);
    border-left: calc((100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)))*0.75) solid transparent;
    height: 22vh;
    width: calc(100vw - (25.2vw + 50.4vw + 2*var(--space-xxxl)));
}

.bg-quad-1-tablet,
.bg-quad-2-tablet,
.bg-quad-3-tablet,
.bg-quad-4-tablet,
.bg-quad-5-tablet,
.bg-quad-6-tablet {
    display: none;
}

.content-responsive {
    display: none;
}

@media only screen and (max-width: 1200px) {
    .content-responsive {
        display: revert;
    }
    body {
        display: grid;
        grid-template-rows: 76.8px auto;
        grid-template-columns: repeat(12, 1fr);
        gap: var(--space-md);
    }
    .logo {
        margin-left: var(--space-md);
        margin-top: var(--space-md);
        grid-row: 1;
        grid-column: 1/ 6;
    }
    .icon-burger {
        display: revert;
        grid-row: 1;
        grid-column: 12;
        align-self: center;
    }
    /*Alter After Overlay*/
    .nav {
        display: none;
        margin-top: var(--space-md);
        grid-row: 1;
        grid-column: 1 / 13;
        justify-self: center;
    }
    /*Alter After Overlay*/
    .icon-group {
        display: none;
        margin-top: var(--space-md);
        margin-right: var(--space-md);
        grid-row: 1;
        grid-column: 12;
        justify-self: right;
    }
    .bg-quad-1,
    .bg-quad-2,
    .bg-quad-3,
    .bg-quad-4,
    .bg-quad-5,
    .bg-quad-6 {
        display: none;
    }
    .bg-quad-1-tablet,
    .bg-quad-2-tablet,
    .bg-quad-3-tablet,
    .bg-quad-4-tablet,
    .bg-quad-5-tablet,
    .bg-quad-6-tablet {
        display: revert;
    }
    .bg-quad-1-tablet {
        border-bottom: 100vh solid var(--color-primary-bg);
        border-right: 10vw solid transparent;
        height: 100vh;
        width: 50vw;
        transform: rotateX(180deg);
    }
    .bg-quad-2-tablet {
        border-bottom: 100vh solid var(--color-primary-bg);
        border-left: 10vw solid transparent;
        height: 100vh;
        width: 50vw;
    }
    .bg-quad-3-tablet {
        border-bottom: 100vh solid var(--color-primary-bg);
        border-left: 10vw solid transparent;
        height: 100vh;
        width: 50vw;
        transform: rotateY(180deg);
    }
    .bg-quad-4-tablet {
        z-index: -3;
        border-bottom: 0vh solid var(--color-primary-bg);
        border-right: 0vw solid transparent;
        height: 100vh;
        width: 50vw;
        transform: rotateX(180deg);
    }
    .bg-quad-5-tablet {
        border-bottom: 50vh solid var(--color-primary-bg);
        border-right: 10vw solid transparent;
        height: 50vh;
        width: 50vw;
        transform: rotateX(180deg);
    }
    .bg-quad-6-tablet {
        border-bottom: 50vh solid var(--color-primary-bg);
        border-right: 10vw solid transparent;
        height: 50vh;
        width: 50vw;
        transform: rotateY(180deg);
    }
}