.bmg-title {
    line-height: var(--space-xl);
    font-family: var(--font-display), sans-serif;
    font-size: var(--text-lg);
    text-align: center;
}

.product-name {
    text-align: center;
}

.bmg-title span {
    font-size: var(--text-lg);
}

.footer-links a {
    font-size: var(--text-lg);
    font-weight: 400;
}